.body{
    margin: none;
    padding: none;
}
.header{
    padding-left: 5px;
    display: flex;
    justify-content: left;
    align-items: top;
    overflow: hidden;
}
.animated{
    width: 500px;   
    align-items: top;
    background-position: left;
    background-size: cover;
}

/* Fade in left */
.myname{
   -webkit-animation: myname 1.7s both; /* Safari 4+ */
   -moz-animation: myname 1.7s both; /* Fx 5+ */
   -o-animation: myname 1.7s both; /* Opera 12+ */
   animation: myname 1.7s both; /* IE 10+, Fx 29+ */
 } 

.large{
    font-family: system-ui;
    font-weight: 200;
    padding-left: 15px;
    margin: 0;
}
.title{
    font-family: system-ui;
    align-content: bottom;
    margin: 0;
    padding-left: 8px;
    padding-top: 5px;
}

 /* Safari 4+ */
 @-webkit-keyframes myname {
   0% {
       opacity: 0;
       -webkit-transform: translateX(-25px);
   }
   100% {
       opacity: 1;
       -webkit-transform: translateX(0);
   }
 }
 
 /* Fx 5+ */
 @-moz-keyframes myname {
   0% {
       opacity: 0;
       -moz-transform: translateX(-25px);
   }
   100% {
       opacity: 1;
       -moz-transform: translateX(0);
   }
 }
 
 /* Opera 12+ */
 @-o-keyframes myname {
   0% {
       opacity: 0;
       -o-transform: translateX(-25px);
   }
   100% {
       opacity: 1;
       -o-transform: translateX(0);
   }
 }
 
 /* IE 10+, Fx 29+ */
 @keyframes myname {
   0% {
       opacity: 0;
       transform: translateX(-25px);
   }
   100% {
       opacity: 1;
       transform: translateX(0);
   }
 }